/* Catalogue container */
.catalogue-container {
    padding: 20px;
    margin-bottom: 400px;
    margin-right: 4%;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Book list */
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px;
    justify-items: center;
    margin-left: 4%;
  }
  .headerText {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    background-color: #07315a;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid black 2px;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .headerText::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #ffffff; /* Blue underline */
    margin: 8px auto 0;
    border-radius: 2px;
  }